{% extends "bako_mili/base.html" %}
{% block content %}
{% comment %} <h1 class="h11"> cha</h1> {% endcomment %}
<div class="content">
        <div class="container-fluid">
            <img class="banner" src="../static/images/landscape.jpg" alt="Landscape Image"/>
            
         
        </div>
    </div>

    <div class="px-3 pt-4">
        <div class="intro">
        <span class="intro_text">Bakoo mili street</span>
        </div>
        <h2 class="fs-5"> Dashboard</h2>
        <div class="dashboard-content ">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, totam? Sequi alias eveniet ut quas
            ullam delectus et quasi incidunt rem deserunt asperiores reiciendis assumenda doloremque provident,
            dolores aspernatur neque. dolor sit amet consectetur adipisicing elit. Nostrum, totam? Sequi alias eveniet ut quas
            ullam delectus et quasi incidunt rem deserunt asperiores reiciendis assumenda doloremque provident,
            dolores aspernatur neque dolor sit amet consectetur adipisicing elit. Nostrum, totam? Sequi alias eveniet ut quas
            ullam delectus et quasi incidunt rem deserunt asperiores reiciendis assumenda doloremque provident,
            dolores aspernatur neque</p>
        </div>
    </div>

{% endblock content %}