{% extends "bako_mili/base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/users.css' %}" />
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-container md-5 mt-2">
      <form class="loginform" method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
            <legend class="border-bottom mb-4">Login</legend>
            {{ form|crispy}}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
                {% comment %} <a class="ml-2" href="{% url 'password_reset' %}" >Forgot password?</a> {% endcomment %}
                <a class="ml-2" href="#" >Forgot password?</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account<a class="ml-2" href="{% url 'user:register' %}" >Sign up</a>
        </small>
    </div>
    </div>
{% endblock content %}

